<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
</div>




<!-- 
<label class="item item-input item-select">
    <div class="input-label">
      運動
    </div>
    <select ng-model="selectSp"  ng-change="showSelectValue(selectSp)">
      <option ng-repeat="sp in sportlist track by $id( $index)" value="{{sp}}">{{ sp.sname }}</option>
    </select>
  </label> -->