<ion-header-bar class="bar-stable">
    <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeftSideMenu()"></button>
    <h1 class="title" >{{ title }}</h1> 
    <button class="button icon button-clear ion-settings" ui-sref="plan_list" ></button>
</ion-header-bar>

<!-- <ion-floating-menu has-footer="false">
    <ion-floating-item icon="ion-camera" click="showPopup()"></ion-floating-item>
    <ion-floating-item icon="ion-person" click="newTrip()"></ion-floating-item>
    <ion-floating-item icon="" click="openGoogleMap()"></ion-floating-item>
</ion-floating-menu> -->

<ion-content class="has-header" scroll="false">
    
<timeline>
    <timeline-event ng-repeat="event in events" side="right">
      <timeline-badge class="{{event.badgeClass}}">
        <i class="glyphicon {{event.badgeIconClass}}"></i>
      </timeline-badge>
      <timeline-panel class="{{event.badgeClass}}">
        <timeline-heading>
          <h4>{{event.title}}</h4>
        </timeline-heading>
        <p>{{event.content}}</p>
      </timeline-panel>
    </timeline-event>
  </timeline>

</ion-content> 



<!-- <ion-floating-button click="myEvent()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" iconColor="#fff">
</ion-floating-button> -->