<ion-view >
<ion-content style="background-color:#edf8f8">
<div class="list center" style="margin-top:10%">

	<div class="" style="height:350px !important">
		<img src="img/splash.png" height="320px">
	</div>
	<button class="button button-assertive item item-icon-left ion-social-google-outline left" style="width:60%;padding-left:30px" ng-click="googleLogin()" >
                  <span style="margin-left:26px">Google 登入</span>
    </button><br><br>
	<button class="button button-positive item item-icon-left ion-social-facebook left" style="width:60%;padding-left:30px" ng-click="facebookLogin()" >
                  <span style="margin-left:20px">Facebook 登入</span>
    </button>
</div>
</ion-content>
</ion-view>