<ion-header-bar class="bar-stable">
    <button class="button icon button-clear ion-reply" ui-sref="basedata"></button>
    <h1 class="title" >{{ title }}</h1> 
</ion-header-bar>

<ion-content class="has-header padding" >
<div class="list">
    <label class="item item-input ">
      <div class="input-label" ng-click="show()">性別</div>
      <button class="button button-clear button-positive" ng-style="butsty" ng-click="showsex()"> 
       {{basedata.sex || '選擇性別'}}
      </button>     
    </label>
    <label class="item item-input">
      <span class="input-label">年齡</span>
      <input type="number" placeholder="Age" ng-model="basedata.age"></input>
    </label>
    <label class="item item-input">
      <span class="input-label">身高</span>
      <input type="number" placeholder="Height" ng-model="basedata.height"></input>
    </label>
    <label class="item item-input">
      <span class="input-label">體重</span>
      <input type="number" placeholder="Weight" ng-model="basedata.weight"></input>
    </label>
    
</div>
<button class="button button-block button-outline button-positive" ng-click="save_basedata()" >確認</button>
</ion-content> 



<!-- <ion-floating-button click="myEvent()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" iconColor="#fff">
</ion-floating-button> -->