<ion-header-bar align-title="center" class="bar-stable">
    <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeftSideMenu()"></button>
    <h1 class="title" >{{ title }}</h1> 
    <button class="button icon button-clear ion-edit" ui-sref="basedata_edit"></button>
</ion-header-bar>

<!-- <ion-floating-menu has-footer="false">
    <ion-floating-item icon="ion-camera" click="showPopup()"></ion-floating-item>
    <ion-floating-item icon="ion-person" click="newTrip()"></ion-floating-item>
    <ion-floating-item icon="" click="openGoogleMap()"></ion-floating-item>
</ion-floating-menu> -->

<ion-content class="has-header padding" >
  <div class="center" ng-show="!basedata.sex">
    <p>您未輸入任何資料</p>
  </div>
  <div class="list" ng-show="basedata.sex">
    <label class="item item-input">
      <div class="input-label">性別</div>
      <p>{{basedata.sex}}</p>
    </label>
    <label class="item item-input ">
      <div class="input-label">年齡</div>
      <p>{{basedata.age}}</p>
    </label>
    <label class="item item-input ">
      <div class="input-label">身高</div>
      <p>{{basedata.height}}</p>
    </label>
    <label class="item item-input ">
      <div class="input-label">體重</div>
      <p>{{basedata.weight}}</p>
    </label> 
    <label class="item item-input">
      <div class="input-label">BMI</div>
      <p>{{basedata.BMI | number:2}}</p>
    </label>
    <label class="item item-input">
      <div class="input-label">基礎代謝率</div>
      <p>{{basedata.min_BMR | number:2}}</p>
    </label>
    <label class="item item-input">
      <div class="input-label">每日飲水建議</div>
      <p>{{basedata.weight * 33 }} ml</p>
    </label>

  </div>
</ion-content> 



<!-- <ion-floating-button click="myEvent()" has-footer="false" button-color="#2AC9AA" icon="ion-plus" iconColor="#fff">
</ion-floating-button> -->