
  <div class=" list" >
    <label class="item item-input">
        <span class="input-label center" style="margin-right:10px">計劃名稱</span>
        <input type="text" ng-model="selectSp.pname" ></input>
    </label>
    <label class="item item-input">
        <span class="input-label center" style="margin-right:10px">選擇日期</span>
        <input type="date" ng-model="selectSp.pdate" ></input>
    </label>
    <label class="item item-input" >
        <textarea class="" placeholder="輸入計劃簡介" style="height:130px;resize:none;" ng-model="selectSp.pbr_in"></textarea>
    </label>
  </div>








 



<!-- 
<label class="item item-input item-select">
    <div class="input-label">
      運動
    </div>
    <select ng-model="selectSp"  ng-change="showSelectValue(selectSp)">
      <option ng-repeat="sp in sportlist track by $id( $index)" value="{{sp}}">{{ sp.sname }}</option>
    </select>
  </label> -->