<ion-header-bar align-title="center" class="bar-stable">
    <button class="button icon button-clear ion-reply" ui-sref="home"></button>
    <h1 class="title">{{ title }}</h1> 
</ion-header-bar>

<ion-floating-menu menu-icon="ion-plus-round" menu-open-icon="ion-minus-round" >
	<ion-floating-item icon="ion-android-walk"  click="modal_show()" text="新增活動"></ion-floating-item>
    <ion-floating-item icon="ion-ios-paper" click="add_plan()" text="新增計劃"></ion-floating-item>  
</ion-floating-menu>

<ion-content class="has-header padding">
<!-- 	<div class="list">
	<div class="item card" ng-repeat="i in basedata.plan_list track by $index" ng-click="to_p($index)">
		<div class="row padding">
			<div class="col-50 list">
				<h2>{{i.pname}}</h2>		   
				<p>日期：{{i.pdate | date:'MM/dd'}}</p>
			</div>
			<div class="col-50">	
			</div>
		</div>
	</div>					
</div> -->    
	<div  ng-repeat="sl in basedata.plan_list | toArray | orderBy: '-$key'" >	
		<p class=" item-divider center">{{sl.$key}}</p>
		<timeline>
		    <timeline-event ng-repeat="e in sl | orderBy: 'pdate'" ng-click="to_p(sl.$key, $index, e.pdate)"   side="alternate">
		      <timeline-badge class="info" when-visible="animateElementIn" when-not-visible="animateElementOut">
		        <span style="font-size: 16px">{{e.pdate | date:'MM/dd'}}</span>
		      </timeline-badge>
		      <timeline-panel style="margin-top:10px;" class="success" when-visible="animateElementIn" when-not-visible="animateElementOut">
		        <timeline-heading >
		          <h3>{{e.pname}}</h3>
		        </timeline-heading>
		        <div style="width:180px">
		        	<p>{{e.pbr_in || '&nbsp'}}</p>
		        	<p>消耗熱量總計：{{ e.p_total_cal | number:0 }}</p>
		        </div>       
		      </timeline-panel>
		    </timeline-event>
		 </timeline>
	</div>
<!-- <ion-list>
  	<ion-radio  ng-model="choise.ed" ng-value="'A'" ng-click="rbtn('A')">
  		安排個人運動計劃
	</ion-radio>
		<div class="padding" ng-show="choise.ed == 'A'">
			
	  	</div>
	<ion-radio ng-model="choise.ed" ng-value="'B'" ng-click="rbtn('B')">
		設定彈性時段 
		<div class="" ng-show="choise.ed == 'B'">
			<h4><i class="icon ion-information-circled"/>此選項會按照使用者所輸入的時段<br>自動安排運動行程</h4>
	  	</div>
	</ion-radio>
		<div class="padding" ng-show="choise == 'B'">
			
	  	</div>
			
</ion-list> -->
</ion-content> 

