<ion-header-bar align-title="center" class="bar-stable titles" >
    <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeftSideMenu()"></button>
    <h1 class="title">{{ title }}</h1>
    <button class="button icon button-clear ion-ios-settings-strong" ng-click="plan_setting_modal.show()"></button> 
</ion-header-bar>

<ion-floating-menu menu-icon="ion-plus-round" menu-open-icon="ion-minus-round" >
	<ion-floating-item icon="ion-android-walk"  click="modal_show()" text="新增活動"></ion-floating-item>
    <ion-floating-item icon="ion-ios-paper" click="add_plan()" text="新增計劃"></ion-floating-item>  
</ion-floating-menu>
<div class="bar bar-subheader" style="height:20px" ng-show="subtitleShow">
  <p ng-bind="plan_list_subtitle.subtitle" style="padding:0;margin:0" class="title item-divider center subheader-style"></p>
</div>
<ion-content class="has-header" delegate-handle="mainScroll" on-scroll="scrollEvent('mainScroll')">
	<div ng-repeat="sl in basedata.plan_list | toArray | orderBy: key_sort.m " >	
		<p id="{{sl.$key}}" class="pl-item item-divider center">{{sl.$key}}</p>
		<timeline>
			<ion-list style=" padding: 0px !important;" >
				<ion-item ng-repeat="e in sl | orderBy: key_sort.d " ng-click="to_p(sl.$key, sl.indexOf(e), e.pdate)" class="item-remove-animate item-borderless" >
				    <timeline-event side="alternate">	    
				      <timeline-badge class="info" when-visible="animateElementIn" when-not-visible="animateElementOut">
				        <span style="font-size: 16px">{{e.pdate | date:'MM/dd'}}</span>
				      </timeline-badge>
				      <timeline-panel style="margin-top:10px;" class="success" when-visible="animateElementIn" when-not-visible="animateElementOut">
				        <timeline-heading >
				          <h2>{{e.pname}}</h2>
				        </timeline-heading>
				        <div style="width:180px;padding-top:8px">
				        	<p on-hold="showpbr($event, e.pbr_in)">{{e.pbr_in}}</p>
				        	<p>活動數量：{{ e.psplist.length }}</p> 
				        	<p>消耗熱量總計：{{ e.p_total_mets * basedata.weight || 0 | number:0 }}</p>
				        </div>   				           
				      </timeline-panel>	          
				    </timeline-event>
				    <ion-option-button class="button-stable padding" ng-click="edit_plan(sl.$key,sl.indexOf(e))">
		            		修改
		          	</ion-option-button> 
		          	<ion-option-button class="button-assertive padding" ng-click="del_plan(sl.$key,sl.indexOf(e))">
		            		刪除
		          	</ion-option-button> 
			    </ion-item>
			 </ion-list>
		 </timeline>
	</div>
</ion-content> 




<!-- 
 	<div style="width:180px">
 		        	<p>{{e.pbr_in || '&nbsp'}}</p>
 		        	<p>消耗熱量總計：{{ e.p_total_mets * basedata.weight || 0 | number:0 }}</p>
 	</div>   --> 
<!-- <ion-list>
  	<ion-radio  ng-model="choise.ed" ng-value="'A'" ng-click="rbtn('A')">
  		安排個人運動計劃
	</ion-radio>
		<div class="padding" ng-show="choise.ed == 'A'">
			
	  	</div>
	<ion-radio ng-model="choise.ed" ng-value="'B'" ng-click="rbtn('B')">
		設定彈性時段 
		<div class="" ng-show="choise.ed == 'B'">
			<h4><i class="icon ion-information-circled"/>此選項會按照使用者所輸入的時段<br>自動安排運動行程</h4>
	  	</div>
	</ion-radio>
		<div class="padding" ng-show="choise == 'B'">
			
	  	</div>
			
</ion-list> -->