<div class=" list">
    <label class="item item-input">
        <span class="input-label center" style="margin-right:10px">名稱</span>
        <input type="text" ng-model="easy_food.fname"></input>
    </label>
    <label class="item item-input">
        <span class="input-label center" style="margin-right:10px">日期</span>
        <input type="date" ng-model="easy_food.fdate"></input>
    </label>
    <label class="item item-input">
        <span class="input-label center" style="margin-right:10px">熱量</span>
        <input type="number" min="0" ng-model="easy_food.fkcal"></input>
    </label>
</div>
