html, body, h1, h2, h4, h5 {
  height: 100%;
  font-family: '微軟正黑體';
}

h3 {
  font-family: '微軟正黑體';
  font-size: 18px;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.myHandle {
  font-size: 25px;
  margin-right: 5px;
  padding: 10px;
  vertical-align: middle;
  cursor: move;
}
.container {
	min-width:200px;
  min-height:50px;
}

.trip .popup-title {
  height: 20px;
} 


#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.stitle {
  font-size: 18px;
}

hr {
  color: #DCDCDC;
  border-style: solid;
  border-width: 0.5px;
}
.ion-plus-circled {
  font-size: 28px;
}

.popup {
  width: 280px  !important;
  max-height: 100%;
}

.tabsfont {
  font-weight: bold;
}

.sportconent {
  margin-top: -2px;
  margin-bottom: 14px;
}