html, body,  h2, h4, h5 {
  height: 100%;
  font-family: '微軟正黑體';
}
.bar-stable {
  background-color: #61C791 !important;
}
.bar-stable > h1 {
 color:#292929 !important;
 font-weight: bold !important;
 letter-spacing: 1px;
 font-size: 20px  !important;
}
.bar > .icon {
 color:#292929 !important;
}

.menustyle {
  text-align: center;
  background-color: #046380;
  height:185px;
  box-shadow:0px 4px 4px rgba(20%,20%,40%,0.5);
  z-index: 9;
  color: #FAFAFA;
}


h1 {
  font-family: '微軟正黑體';
}
h3 {
  font-family: '微軟正黑體';
  font-size: 18px;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.not-visible {
  visibility: hidden;
}

.myHandle {
  font-size: 25px;
  margin-right: 5px;
  padding: 10px;
  vertical-align: middle;
  cursor: move;
}

.item > .item-content {

  padding: 0px !important;
  padding-right: 12px !important;
  
}

.adds > .radio-content > .radio-icon{
    color: #fff;
}
.adds > .radio-content > .item-content {
    background-color: #0398dc !important;
    color: #fff;
}  

.l_bottom {
  margin-top: -5px
}

.lable_sty {
  margin-left:8px;
  margin-right:0px;
}

.container {
	min-width:200px;
  min-height:50px;
}

.scroll {
  height: 100%;
}

.pline {
  height: 75px;
  width:1.5px;
  background-color:   #C0C0C0;
  margin-left:50%;
  margin-bottom:10px;
}

.ion-plus-circled  {
  font-size: 28px;
}

/* popup css */
.popup {
  width: 280px  !important;
  max-height: 100%;
}
.trip .popup-title {
  height: 20px;
} 
/* --------- */
.tabsfont {
  font-weight: bold;
}

.stitle {
  font-size: 18px;
}
.sportconent {
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 10px;
}
.sportconent > div > h2 {
  padding-top: 6px;
  padding-bottom: 10px;
  font-size : 18px;

}
.sportconent > div > p {
  padding-top: 6px;
  font-size : 14px;
}

/* --- tab-slide-box --- */
.slider-slide {
      color: #fff;
      margin-top:0px;  
};
.tabbed-slidebox .tsb-icons:after{
      display:none;
}
.scroll-set{
  height:30px;
  font-size:10px
}
/* --------------------- */